:root {
    --background-navy: #1F2937;
    --highlight-title-green: #4ADF86;
    --highlight-button-green: #10B981;
    --highlight-password-green: #55F991;
    --text-medium-grey: #D5D4D8;
}

body {
    font-family: "Inter", sans-serif;
}

h1 {
    font-family: "Karla", sans-serif;
}

button {
    font-family: inherit;
}