:root {
    --background-navy: #1F2937;
    --background-password-bright-navy: #273549;
    --highlight-title-green: #4ADF86;
    --highlight-button-green: #10B981;
    --highlight-password-green: #55F991;
    --text-medium-grey: #D5D4D8;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--background-navy);
    color: white;
}

h1, h2 {
    margin: 0;
}

h1 {
    font-family: "Karla", sans-serif;
    font-size: 40px;
}

h2 {
    color: var(--text-medium-grey);
    font-weight: 300;
    font-size: 20px;
}

button {
    font-family: inherit;
    font-size: 16px;
    background-color: var(--highlight-button-green);
    color: white;
    align-self: start;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
}

.generated-password {
    background-color: var(--background-password-bright-navy);
    color: var(--highlight-password-green);
    font-size: 16px;
    padding: 12px 60px;
    border-radius: 6px;
    width: 100px;
}

.password-container {
    display: flex; 
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 100px 30px;
    max-width: 500px;
    margin: auto;
}

#title-highlight {
    color: var(--highlight-title-green);
}